# Python
__pycache__/
*.pyc
.env

# User files (CSV, templates, etc. should not be in the repo)
*.csv
*.txt
*.png
*.jpg

# Allow those file types inside the example/ folder (root example/ and any subfolders)
!example/*.csv
!example/*.txt
!example/*.png
!example/*.jpg
!example/**/*.csv
!example/**/*.txt
!example/**/*.png
!example/**/*.jpg

# Build artifacts
build/
dist/
*.spec