name: Build Application

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  # --- Build Job for Windows ---
  build-windows:
    name: Build (Windows)
    runs-on: windows-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka certifi

      - name: Build with Nuitka
        run: |
          python -m nuitka --onefile --windows-disable-console `
          --enable-plugin=tk-inter `
          --include-package-data=certifi `
          --output-dir=build `
          --product-name="Email Sender" `
          --company-name="Tiago Almeida" `
          email_app.py

      - name: Prepare Artifact
        shell: pwsh
        run: |
          Compress-Archive -Path build/email_app.exe -DestinationPath build/Email-Sender-Windows.zip

  # --- Build Job for macOS ---
  build-macos:
    name: Build (macOS)
    runs-on: macos-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka certifi

      - name: Build with Nuitka
        run: |
          python -m nuitka --mode=app \
          --enable-plugin=tk-inter \
          --include-package-data=certifi \
          --output-dir=build \
          --product-name="Email Sender" \
          --output-folder-name="Email Sender" \
          email_app.py

      - name: Prepare Artifact
        run: |
          zip -r build/Email-Sender-MacOS.zip "build/Email Sender.app"

  # --- Build Job for Linux ---
  build-linux:
    name: Build (Linux)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install nuitka certifi

      - name: Build with Nuitka
        run: |
          python -m nuitka --onefile \
          --enable-plugin=tk-inter \
          --include-package-data=certifi \
          --output-dir=build \
          --product-name="Email Sender" \
          email_app.py

      - name: Prepare Artifact
        run: |
          mv build/email_app.bin build/Email-Sender.bin
          zip -j build/Email-Sender-Linux.zip build/Email-Sender.bin